<div>
  <p [routerLink]="['/home']">Home</p>
  <p [routerLink]="['/contact']">Contact</p>
  <p [routerLink]="['/about']">About</p>
</div>
<router-outlet></router-outlet>
<div>
  <ul *ngFor="let items of postArray">
      <li>{{items}}</li>
  </ul>
</div>